body {
    margin: 50px auto;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif, 'Times New Roman';
    color: black;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

/* Header */
/* NOTE: Changed img tag to a id selector instead of an element selector since I used images elsewhere*/    
#intro-image {
    width: 175px;
    border-style: solid;
    border-radius: 25%;
    border-color: black;
    box-shadow: 0 0 20px 5px #a5d2ee;
    transition: ease-in-out 0.5s;
    background-color: white;
}

img:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 45px;
    transition: ease-in-out 0.5s;
}

h1:hover {
    background-position: 100% 100%;
    transform: scale(1.05);
}

#about {
    background-color: #C8D6B9;
}

#education {
    background-color: #769ECB;
}

#experience {
    background-color: #FAF3DD;
}

#projects {
    background-color: #9DBAD5;
}

#contact {
    background-color: #C8D6B9;
    margin-bottom: 0px;
}

.section-wrapper {
    background-color: #a5d2ee;
    margin: 10px 0;
    padding: 20px 0;
    border: 4px solid black;
}
/* About Section */
.about-content-wrapper p {
    margin: 1em 4em 1em 4em;
}

/* Education Section */
.education-wrapper {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 15px;
    margin: 1em;
    background-color: #a5d2ee;
    transition: ease-in-out 0.2s;
}

.education-wrapper:hover {
    transform: scale(1.025);
}

.education-subheader {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    margin: 0 5em 0 5em;
}

.education-subheader p {
    padding-top: 5px;
}

.education-content-wrapper p {
    margin: 1em 5em 1em 5em;
}

/* Experience Section */
.experience-wrapper {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.experience-list-item {
    border: 4px solid #1d3557;
    text-align: left;
    width: 35%;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: bisque;
    transition: ease-in-out 0.2s;
}

.experience-list-item:hover {
    transform: scale(1.025);
}

.experience-list-item-subheader {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 2em;
}

.experience-list-item ul li {
    margin-top: 1em;
}

/* Projects Section */
.project-list-item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    border: 4px solid black;
    margin: 1em;
    transition: ease-in-out 0.2s;
    border-radius: 15px;
    background-color: #a5d2ee;
}

.project-list-item:hover{
    transform: scale(1.025);
}

.project-list-item  p {
    margin-top: 0;
}

.project-wrapper a{
    text-decoration: none;
    color: black;
}

/* Contact Section */
/* NOTE: Used the `a` tag elsewhere, so I had to use the class selector instead of the element selector. */
.contact-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    padding-left: 0;
}

.contact-link {
    display: flex;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    padding: 10px 20px;
    transition: ease-in-out 0.2s;
    background-color:rgb(42, 65, 167);
    list-style-type: none;
    box-shadow: 0 0 10px 1px black;
    border: black solid 4px;
}

.contact-link:hover {
    transform: scale(1.05);
}

.contact-link a {
    text-decoration: none;
    color: white;
}

.contact-link img {
    width: 20px;
    padding-right: 0.5em;
}