body {
    margin: 50px auto;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif, 'Times New Roman';
    color: black;
    text-align: center;
    background-color: black;
    overflow-x: hidden;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

/* Glowing Blob */
@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -1;
    filter:blur(80px);
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 10px;
}

  *::-webkit-scrollbar-track {
    background: #000000;
}

  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 8px;
    border: 2px solid #000000;
}

/* Header */
#intro-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 175px;
    border-style: solid;
    border-radius: 25%;
    border-color: black;
    box-shadow: 0 0 20px 5px #a5d2ee;
    transition: ease-in-out 0.5s;
    background-color: white;
}

img:hover {
    transform: scale(1.05);
}

h1 {
    display: inline;
    font-size: 45px;
    transition: ease-in-out 0.5s;
    color: white;
}

h1:hover {
    background-position: 100% 100%;
    transform: scale(1.05);
}

#cursor {
    color: white;
    font-size: 3em;
}

#about {
    background-color: #C8D6B9;
}

#technologies {
    background-color: #FAF3DD;
}

#education {
    background-color: #769ECB;
}

#experience {
    background-color: #FAF3DD;
}

#projects {
    background-color: #9DBAD5;
}

#contact {
    background-color: #C8D6B9;
    margin-bottom: 0px;
}

.section-wrapper {
    background-color: #a5d2ee;
    margin: 10px 0;
    padding: 20px 0;
    border: 4px solid black;
    border-radius: 15px;
}
/* About Section */
.about-content-wrapper p {
    margin: 1em 4em 1em 4em;
}

.about-content-wrapper a {
    color: black;
}

/* Technologies Section */
#tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1em;
    margin: 1em;
}

#tags li {
    list-style-type: none;
    border: 4px solid black;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: bisque;
    transition: ease-in-out 0.2s;
}

#tags li:hover {
    transform: scale(1.025);
}

/* Education Section */
.education-wrapper {
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 15px;
    margin: 1em;
    background-color: #a5d2ee;
    transition: ease-in-out 0.2s;
}

.education-wrapper:hover {
    transform: scale(1.025);
}

.education-subheader {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    margin: 0 5em 0 5em;
}

.education-subheader p {
    padding-top: 5px;
}

.education-content-wrapper p {
    margin: 1em 5em 1em 5em;
}

/* Experience Section */
.experience-wrapper {
    display: flex;
    gap: 1em;
    justify-content: space-around;
    margin: 2rem 1em;
}

.experience-list-item {
    border: 4px solid #1d3557;
    text-align: left;
    width: 35%;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: bisque;
    transition: ease-in-out 0.2s;
}

.experience-list-item:hover {
    transform: scale(1.025);
}

.experience-list-item-subheader {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 2em;
}

.experience-list-item ul li {
    margin-top: 1em;
}

/* Projects Section */
.project-list-item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    border: 4px solid black;
    margin: 1em;
    transition: ease-in-out 0.2s;
    border-radius: 15px;
    background-color: #a5d2ee;
}

.project-list-item:hover{
    transform: scale(1.025);
}

.project-list-item p {
    margin-top: 0;
    margin-left: 3em;
    margin-right: 3em;
}

.project-wrapper a {
    text-decoration: none;
    color: black;
}

/* Contact Section */
.contact-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    padding-left: 0;
}

.contact-link {
    display: flex;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    padding: 10px 20px;
    transition: ease-in-out 0.2s;
    background-color: rgba(173, 235, 173, 0.37);
    list-style-type: none;
    border: black solid 4px;
}

.contact-link:hover {
    transform: scale(1.05);
}

.contact-link a {
    text-decoration: none;
    color: black;
}

.contact-link img {
    width: 20px;
    padding-right: 0.5em;
}

/* Footer */
footer p {
    color: white;
}

/* Media Queries */
/* Write a media query that causes my experience section to flex column */
@media (max-width: 800px) {
    .experience-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .experience-list-item {
        width: 80%;
    }

}

@media (max-width: 400px) {
    .contact-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-link {
        width: 25%;
    }

    .contact-wrapper li {
        justify-content: center;
    }
    
}